            header {
                background-color: #0171c5;
                color: white;
                font-family: arial;
            }
            header a {
                background-color: #0171c5;
                color: white;
                font-family: sans-serif;
            }
            li {
                display: inline;
            }
